:root {
  --light-blue-opaque: rgba(0, 127, 255, 0.15);
  --light-blue: rgba(46, 150, 255, 0.75);
}

html {
  /*Sets height to 100% so gradients can be applied completely*/
  height: 100%;
  font-size: 10px;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.95) 25%, var(--light-blue-opaque), rgba(0, 0, 0, 0.95) 62.5%);
  background-color: rgba(0, 0, 0, 0.95); 
}

.boxes {
  display: flex;

  /*Centers div inside the parent both horizontally and vertically*/
  
  width: 25vw;
  height: 12.5vh;
  
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-12.5vw, -6.25vh);
  
  margin-top: calc(-12.5vh / 2);
}

@media (max-width: 1024px) {
  .boxes {
    display: flex;
    flex-direction: column;
    margin-top: calc(-12.5vh * 1.25);
  }
}

div p, footer p {
  font-size: 2.5vh;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 255, 0.5);
}

.boxes div {
  /*Allows content to fill the parent*/
  flex-grow: 1;

  /*flex-shrink: 1;*/

  border: 0.1rem solid black;
  background-color: rgba(0, 0, 0, 1);
  color: var(--light-blue);
  margin: 0.5rem;
  

  /*Aligns content vertically and horizontally*/
  display: flex;;
  justify-content: center;
  align-items: center;

  /*Sets items to be the same width*/
  flex: 1 1 0rem;
}

footer p {
  color: var(--light-blue);
  
  /*Sticks footer to bottom of page*/
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

@keyframes light-up {
  from {
    box-shadow: 0px 0px 0px var(--light-blue-opaque);
  } to {
    box-shadow: 2px 2px 2px var(--light-blue-opaque), 
                -2px -2px 2px var(--light-blue-opaque);
  }
}

.boxes div:hover, .back:hover {
  animation-name: light-up;
  animation-duration: 0.125s;

  /*Makes end frame stay, or, makes it not reset*/
  animation-fill-mode: forwards;

  cursor: pointer;
}

.above {
  position: relative;
}

.projectsSheet, .resumeSheet, .aboutSheet {
  margin-top: calc((100vh - 75vh) / 2);
  margin-bottom: calc((100vh - 75vh) / 2);
  width: 25vw;
  height: 75vh;
  position: absolute;
  text-align: center;
  left: -30vw;
  border: 1px solid var(--light-blue-opaque);
  background-color: black;
  border-radius: 1rem;
}

.projectsSheet p, .resumeSheet p, .aboutSheet p {
  color: var(--light-blue);
  margin: 25%;
}

.back {
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 0rem 2rem;
  opacity: 0%;
  pointer-events: none;
}

.back p {
  color: var(--light-blue);
}